.main
  .project
    .project-name Aチームグループ開発
    .project-edit
      %ul.project-edit__btn
        %li.project-edit__btn1
          = image_tag 'cog.png', size:'55x55'
        %li.project-edit__btn2
          = image_tag 'update.png', size:'49x49'

  .taskadd
    %form.taskadd-inputBox
      %input.taskadd-inputBoxholder{placeholder: 'タスクを入力' ,model: 'task', height: '15px'}
      %input.taskadd-inputBoxBtn{type: 'submit', value: '追加'}
      
  .task
    .taskTop
      %ul.taskTop-content
        %li.taskTop-content__title Title
        %li.taskTop-contentStatus Status
        %li.taskTop-contentTarget Target
        %li.taskfTop-contentName Person
        %li.taskTop-contentGood__btn Good
    .taskfoot

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      
      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      

      %ul.taskfoot-content
        %li
          %input{type: "checkbox"}
        %li.taskfoot-content__title ユーザー機能実装
        %li.taskfoot-contentStatus 実装中
        %li.taskfoot-contentTarget 2020/08/04
        %li.taskfoot-contentName
          = image_tag 'man.png', size:'50x50', class: 'taskfoot-contentName'
        %li.taskfoot-contentGood__btn
          = image_tag 'goodjob.png', size:'40x40', claas: 'taskfoot-contentGood__btn'
      

